.git
.github
.cursor
.mypy_cache
.pytest_cache
.ruff_cache
.venv
.conda
__pycache__
*.py[cod]
*.egg-info

build
dist
htmlcov
.coverage

unilabos_local_ui/node_modules
unilabos_local_ui/dist

.DS_Store
*.log
*.tmp
*.swp
